.bodyActores {
    background-image: url("../assets/personalidadesSGM.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

.principalPresidentes {
    .rooseveltBackground {
        background-image: url("../assets/rooseveltBack.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat; 
        background-attachment: fixed;
        padding-right: 0px !important; 
        padding-left: 0px !important;
    }
    .nombreActor {
        font-size: 4em;
        font-family: 'Special Elite', cursive;
        letter-spacing: 3px;
    }
    .tituloActor {
        text-transform: uppercase;
        font-size: 3em;
        font-family: 'Oswald', sans-serif;
    }
    .imagenActor {
        width: 50%; 
    }
    .bioActor {
        font-size: 2em;
        font-family: 'Oswald', sans-serif;
        text-align: justify;
        background-color: rgba(255, 255, 255, 0.3);
        padding: 10px; 
        border-radius: 10px;
        line-height: 2;
        letter-spacing: 3px;
        padding: 2%; 
    }
    .churchillBackground {
        background-image: url("../assets/churchillBack.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat; 
        background-attachment: fixed;
        padding-right: 0px !important; 
        padding-left: 0px !important;
    }
    .hitlerBackground {
        background-image: url("../assets/hitlerBack.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat; 
        background-attachment: fixed;
        padding-right: 0px !important; 
        padding-left: 0px !important;
    }
    .stalinBackground {
        background-image: url("../assets/stalinBack.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat; 
        background-attachment: fixed;
        padding-right: 0px !important; 
        padding-left: 0px !important;
    }
    .mussoliniBackground {
        background-image: url("../assets/mussoBack.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat; 
        background-attachment: fixed;
        padding-right: 0px !important; 
        padding-left: 0px !important;
    }
    .audios {
        margin-bottom: 20px;
        width: 40%; 
    }
}

@media (max-width: 600px) {
    .nombreActor {
        font-size: 3rem;
        letter-spacing: 1.5px;
    }
    .tituloActor {
        font-size: 2rem;
    }
    .imagenActor {
        width: 80%; 
    }
    .bioActor {
        font-size: 2rem;
        padding: 10%; 
        line-height: 1.8;
    }
}