.bodyActores {
    background-image: url("../assets/personalidadesSGM.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

.principalPresidentes {
    .rooseveltBackground {
        background-image: url("../assets/rooseveltBack.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat; 
        background-attachment: fixed;
        padding-right: 0px !important; 
        padding-left: 0px !important;
    }
    .nombreActor {
        font-size: 4em;
        font-family: 'Special Elite', cursive;
        letter-spacing: 3px;
    }
    .tituloActor {
        text-transform: uppercase;
        font-size: 3em;
        font-family: 'Oswald', sans-serif;
    }
    .imagenActor {
        width: 50%; 
    }
    .bioActor {
        font-size: 2em;
        font-family: 'Oswald', sans-serif;
        text-align: justify;
        background-color: rgba(255, 255, 255, 0.3);
        padding: 10px; 
        border-radius: 10px;
        line-height: 2;
        letter-spacing: 3px;
        padding: 2%; 
    }
    .churchillBackground {
        background-image: url("../assets/churchillBack.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat; 
        background-attachment: fixed;
        padding-right: 0px !important; 
        padding-left: 0px !important;
    }
    .hitlerBackground {
        background-image: url("../assets/hitlerBack.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat; 
        background-attachment: fixed;
        padding-right: 0px !important; 
        padding-left: 0px !important;
    }
    .stalinBackground {
        background-image: url("../assets/stalinBack.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat; 
        background-attachment: fixed;
        padding-right: 0px !important; 
        padding-left: 0px !important;
    }
    .mussoliniBackground {
        background-image: url("../assets/mussoBack.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat; 
        background-attachment: fixed;
        padding-right: 0px !important; 
        padding-left: 0px !important;
    }
    .audios {
        margin-bottom: 20px;
        width: 40%; 
    }
}

@media only screen and (max-width: 812px) {
    .bodyActores {
      background-image:unset; 
    }
    .bodyActores:before {
      content: ''; 
      background-image: url('../assets/personalidadesSGMMobile.jpg');
      background-repeat: no-repeat;
      position: fixed; 
      top: 0; 
      left: 0;
      height: 100%; 
      width: 100%; 
      background-size: cover;
      z-index: -1;
    }
    .principalPresidentes .rooseveltBackground {
      background-image: unset;
      background-color: rgba(255, 255, 255, 0);
      background-attachment: unset;
    }
    .principalPresidentes .churchillBackground {
      background-image: unset;
      background-color: rgba(255, 255, 255, 0);
      background-attachment: unset;
    }
    .principalPresidentes .hitlerBackground {
      background-image: unset;
      background-color: rgba(255, 255, 255, 0);
      background-attachment: unset;
    }
    .principalPresidentes .stalinBackground {
      background-image: unset;
      background-color: rgba(255, 255, 255, 0);
      background-attachment: unset;
    }
    .principalPresidentes .mussoliniBackground {
      background-image: unset;
      background-color: rgba(255, 255, 255, 0);
      background-attachment: unset;
    }
    .principalPresidentes .nombreActor {
      font-size: 3rem;
      letter-spacing: 1.5px;
      text-align: center; }
    .principalPresidentes .tituloActor {
      font-size: 2rem; }
    .principalPresidentes .imagenActor {
      width: 80%; }
    .principalPresidentes .bioActor {
      font-size: 1.5rem;
      padding: 10%;
      line-height: 1.8; }
  }
