.bodyAviones {
    background-image: url("../assets/backgroundAyT.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

.contenedorAvion {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    .nombreAvion {
        font-size: 3em;
        font-family: 'Special Elite', cursive;
        letter-spacing: 2px;
    }
    .nombreAvion:hover {
        text-decoration: underline;
    }
    .descripcionAvion {
        font-size: 1.8em;
        font-family: 'Oswald', sans-serif;
        text-align: justify;
        letter-spacing: 3px;
        line-height: 1.8;
        padding: 2%; 
    }
    .avionImagen {
        width: 70%; 
    }
    .avion1 {
        transition: all 2s;
    }
    .avion1:hover {
        transform: scale(1.5) rotateZ(10deg);
    }
    .avion2 {
        transition: all 2s;
    }
    .avion2:hover {
        transform: scale(1.5) rotateZ(-10deg);
    }
    .avion3 {
        transition: all 2s;
    }
    .avion3:hover {
        transform: scale(1.5) rotateZ(-20deg);
    }
    .avion4 {
        transition: all 2s;
    }
    .avion4:hover {
        transform: scale(1.5) rotateZ(20deg);
    }
    .avion5 {
        transition: all 2s;
    }
    .avion5:hover {
        transform: scale(1.5) rotateZ(20deg);
    }
    .avion6 {
        transition: all 2s; 
    }
    .avion6:hover {
        transform: scale(1.5) rotateZ(20deg);
    }
    .avion7 {
        transition: all 2s; 
    }
    .avion7:hover {
        transform: scale(1.5) rotateZ(15deg);
    }
    .avion8 {
        transition: all 2s; 
    }
    .avion8:hover {
        transform: scale(1.5) rotateZ(20deg);
    }
}

.iframeContainer {
    position: relative;
    margin: auto;
    width: 70%;
    padding-top: 35%; }

.iframeContainer iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%; }

@media only screen and (max-width: 812px) {
    .bodyAviones {
        background-image:unset; 
    }
    .bodyAviones:before {
      content: ''; 
      background-image: url('../assets/backgroundAyTMobile.jpg');
      background-repeat: no-repeat;
      position: fixed; 
      top: 0; 
      left: 0;
      height: 100%; 
      width: 100%; 
      background-size: cover;
      z-index: -1;
    }
    .contenedorAvion .avion1:hover {
      transform: scale(1.15) rotateZ(10deg); }
    .contenedorAvion .avion2:hover {
      transform: scale(1.15) rotateZ(-10deg); }
    .contenedorAvion .avion3:hover {
      transform: scale(1.15) rotateZ(-20deg); }
    .contenedorAvion .avion4:hover {
      transform: scale(1.15) rotateZ(20deg); }
    .contenedorAvion .avion5:hover {
      transform: scale(1.15) rotateZ(20deg); }
    .contenedorAvion .avion6:hover {
      transform: scale(1.15) rotateZ(20deg); }
    .contenedorAvion .avion7:hover {
      transform: scale(1.15) rotateZ(15deg); }
    .contenedorAvion .avion8:hover {
      transform: scale(1.15) rotateZ(20deg); }
    .contenedorAvion .nombreAvion {
      font-size: 2.4rem;
      letter-spacing: normal;
      padding: 5%;
      text-align: center; }
    .contenedorAvion .descripcionAvion {
      font-size: 1.5rem;
      padding: 10%; 
    }
}
        