.bodyForm {
    background-image: url("../assets/contactoBack.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

.formulario {
    margin-top: 100px !important;
    margin-bottom: 100px !important;
    max-width: 800px;
    padding-top: 50px;
    margin: auto;
    position: relative;
    background-color: white;
    border-radius: 10%;
    padding: 30px; 
    .tituloFormulario {
        text-transform: uppercase;
        font-family: 'Special Elite', cursive;
        text-align: center;
        letter-spacing: 3px;
        font-size: 4rem;
        line-height: 48px;
        padding-bottom: 20px;
        color: #F0B45B;
        background: linear-gradient(to right, black, lightgray 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
    }
    .parrafoFormulario {
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
        text-align: center;
        letter-spacing: 2px;
        font-size: 3rem;
        line-height: 30px;
        padding-bottom: 10px;
        color: #F0B45B;
        background: linear-gradient(to right, black, lightgray 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
    }
    .contactoForm {
        .campoFormulario {
            position: relative;
            margin: 32px 0; 
        }
        .input-text {
            display: block;
            font-family: 'Oswald', sans-serif;
            width: 100%;
            height: 36px;
            border-width: 0 0 2px 0;
            border-color: black;
            font-size: 18px;
            line-height: 26px;
            font-weight: 400; 
        }
        .input-text:focus + .label,
        .input-text.not.empty + .label {
            transform: translateY(-24px); 
        }
        .input-text:focus {
            outline: none; 
        }
        .label {
            position: absolute;
            font-family: 'Special Elite', cursive;
            left: 20px;
            bottom: 11px;
            font-size: 18px;
            line-height: 26px;
            font-weight: 400;
            color: gray;
            cursor: text;
            text-transform: capitalize;
            transition: transform 0.2s ease-in-out; 
        }
        .submit-btn {
            display: inline-block;
            background-image: linear-gradient(125deg, black, lightgray);
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 16px;
            padding: 8px 16px;
            border: none;
            width: 200px;
            cursor: pointer; 
        }
        .submit-btn:hover {
            background-image: linear-gradient(125deg, lightgray, black);
        } 
    }
}