.bodyJuegos {
    background-image: url("../assets/juegosBack.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

.contenedorJuego {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px; 
    border-radius: 10%;
    .portadaJuego {
        width: 90%; 
        border-radius: 10%;
    }
    .tituloJuego {
        font-size: 3em;
        font-family: 'Special Elite', curisve;
        letter-spacing: 4px;
    }
    .descripcionJuego {
        font-size: 2em;
        font-family: 'Oswald', sans-serif;
        letter-spacing: 2px;
        margin: auto; 
        line-height: 2;
        text-align: center;
    }
    .botonCompraJuego {
        font-size: large;
    }
}

@media only screen and (max-width: 812px) {
    .bodyJuegos {
      background-image:unset; 
    }
    .bodyJuegos:before {
      content: ''; 
      background-image: url('../assets/juegosBackMobile.jpg');
      background-repeat: no-repeat;
      position: fixed; 
      top: 0; 
      left: 0;
      height: 100%; 
      width: 100%; 
      background-size: cover;
      z-index: -1;
    }
    .contenedorJuego .descripcionJuego {
      font-size: 1.5rem;
      padding: 10%; }
    .contenedorJuego .tituloJuego {
      margin-top: 10px;
      text-align: center;
      padding: 5%; 
    }
}