.bodyLibros {
    background-image: url("../assets/librosBack.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

.tarjetaLibro {
    background-color: white;
    border-radius: 10%;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.6);
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between; 
    a {
        font-size: large;
        width: 50%; 
        border-radius: 10%;;
    }
    img {
        border-radius: 10%;
        margin: auto; 
    }
}

.btn-compra {
    background-color: rgba(159, 161, 159, 0.6);
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
}

.btn-compra:hover {
    background-color: rgba(159, 161, 159, 0.8);
}