$fondoNavs: rgba(248, 244, 232, 0.9);  

* {
    margin: 0; 
    padding: 0; 
}

html {
    font-size: 62.5%; 
}

.logoPrincipal {
    height: 10vh; 
    margin-left: 50px;
}

.navbar {
    background-color: $fondoNavs;
    ul {
        width: 100%; 
        justify-content: space-around;
        li {
            a {
            font-family: 'Oswald', sans-serif;
            font-size: 2rem;
            font-weight: 600;  
            }
        }
    }
}

footer {
    background-color: $fondoNavs;
    margin-top: 20px;
    .logoImage {
        height: 10vh;
    }
    .redesContacto {
        ul {
            list-style: none;
            justify-content: space-around;
            li {
                a {
                    font-size: 3em;
                    text-decoration: none;
                    color: black; 
                    margin: 0 20px 0 20px
                }
            }
        }
    }
    .copyright {
        font-size: 2em;
        color: black; 
    }
}

@media (max-width: 600px) {
    .logoPrincipal {
        margin-left: 0px;
    }
    .navbar ul li a {
        font-size: 1.5rem;
    }
    footer .redesContacto ul li a {
        font-size: 2rem;
    }
}