.portadaContainer {
    height: 90vh;
    background-image: url('../assets/ww2avionesportada.jpg');
    background-size: cover; 
    background-position: center;
    width: 100%; 
}

h1, h2 {
    font-family: 'Special Elite', cursive;
}

p, h3 {
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-size: 6rem;
    padding-top: 40px;
    padding-left: 40px;
}

h2 {
    font-size: 4rem;
}

.portadaContainer p {
    font-size: 3rem;
    padding-top: 250px;
    padding-left: 50px;
}

@media (max-width: 620px) {
    .portadaContainer h1{
        text-align: center;
    }
    .portadaContainer p {
        padding-top: 100px;
        text-align: center;
    }
    .portadaTexto {
        background-color: rgba(255, 255, 255, 0.7);
    }
}

.seccionAyT {
    background-color: #F8F4E8;
}

#tituloAyT {
    padding-top: 20px;
    text-align: center;
    background-color: #F0B45B;
}

.textoAyT {
    font-size: 2.5rem;
}

.imagenAyT {
    height: 35vh; 
}

.widthAT {
    width: 85%; 
}

.seccionActoresPrincipal {
    background-color: #F0B45B;
}

.actorCard {
    align-items: center;
    justify-content: space-between;
}

.actorCard h3 {
    text-align: center;
    font-size: 3rem; 
    text-decoration: underline;
}

.tituloActores {
    text-align: center;
    background-color: #A94025;
    padding-top: 20px; 
}

.actorCard p {
    font-size: 2rem;
    text-align: center;
}

.actorCard>img {
    height: 70%;
}

.centrar {
    display: flex; 
    margin: auto; 
    font-size: 2rem;
}
