* {
    margin: 0; 
    padding: 0;
}

html {
    font-size: 62.5%; 
}

.logoPrincipal {
    height: 10vh;
    margin-left: 50px; }
  
  .navbar {
    background-color: rgba(248, 244, 232, 0.9); }
    .navbar ul {
      width: 100%;
      justify-content: space-around; }
      .navbar ul li a {
        font-family: 'Oswald', sans-serif;
        font-size: 2rem;
        font-weight: 600; }
  
@media (max-width: 600px) {
    .logoPrincipal {
        margin-left: 0px; 
    }
    .navbar ul li a {
        font-size: 1.5rem;
    }
}
  footer {
    background-color: rgba(248, 244, 232, 0.9);
    margin-top: 20px; }
    footer .logoImage {
      height: 10vh; }
    footer .redesContacto ul {
      list-style: none;
      justify-content: space-around; }
      footer .redesContacto ul li a {
        font-size: 3em;
        text-decoration: none;
        color: black;
        margin: 0 20px 0 20px; }
    footer .copyright {
      font-size: 2em;
      color: black; }

@media (max-width: 600px) {
    footer .redesContacto ul li a {
        font-size: 2rem;
    }
}

.bodyIndexPage {
    background-image: url("../assets/ww2avionesportada.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

.imagenPantallaClara {
    /*height: 100vh;*/ 
    background-color: rgba(255, 255, 255, 0.7);
    /*position: fixed;*/ 
    /*width: 100%; */
}

.welcome {
    margin-top: 20px;
    padding: 20px 0 20px 0; 
}

.welcome h1, p {
    text-align: center;
    letter-spacing: 3px;
    line-height: 2;
}

.welcome h1 {
    font-family: 'Special Elite', cursive;
    font-size: 5em;
}

.welcome>p {
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
}

@media (max-width: 600px) {
    .welcome h1 {
        letter-spacing:normal;
        font-size: 3rem;
        line-height: 1.5;
        padding: 5%; 
    }
    .welcome>p {
        letter-spacing: normal;
        font-size: 2rem;
        line-height: 1.5;
        padding: 10%; 
    }
}

.welcome .introTexto {
    font-family: 'Oswald', cursive;
    font-size: 2em;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    font-weight: 500;
    padding: 20px 20px; 
}

.welcome .introTextoClaro {
    font-family: 'Oswald', cursive;
    font-size: 2em;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    font-weight: 500;
    padding: 20px 20px; 
}   

.welcome .introTextoClaro p {
    text-align: justify;
}

.welcome .introTexto p {
    text-align: justify;
}

.welcome .introTexto ul {
    text-align: justify;
    letter-spacing: 2px;
    line-height: 2;
    list-style: none;
}

@media (max-width: 600px) {
    .welcome .introTexto {
        padding: 10%;
        font-size: 1.5rem; 
    }
    .welcome .introTextoClaro {
        padding: 10%;
        font-size: 1.5rem;
    }
}

.tituloSeccion {
    font-family: 'Special Elite', cursive;
    font-size: 4em;
    letter-spacing: 3px;
    font-weight: bold;
    text-align: center;
    line-height: 2;
    background: linear-gradient(to right, darkgray, black 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

@media (max-width: 600px) {
    .tituloSeccion {
        font-size: 3rem;
        padding: 5%; 
    }
}

.avionesTanques .textoAyT {
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10%;
}

.actorCardIndexImpar {
    background-image: linear-gradient(45deg, white, gray);
    border-radius: 30px;
}

.actorCardIndexPar {
    background-image: linear-gradient(45deg, gray, white);
    border-radius: 30px;
}

.actorCardIndex img {
    border-radius: 20%;
}

@media (max-width: 600px) {
    .avionesTanques .textoAyT {
        font-size: 1.5rem;
        text-align: justify;
        padding: 10%;
    }
    .avionesTanques img {
        width: 80%;
    }
}

.actorNombre {
    font-size: 3em;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 4px;
    font-weight: bold;
}

.actorDescripcion {
    font-size: 2em;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
}

@media (max-width: 600px) {
    .actorNombre {
        font-size: 2.5rem;
        margin-top: 10px;
        letter-spacing: 2px;
    }
    .actorDescripcion {
        font-size: 2rem;
        text-align: justify;
        padding: 10%;
    }
}

.bodyAviones {
    background-image: url("../assets/backgroundAyT.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

.contenedorAvion {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
}

.nombreAvion {
    font-size: 3em;
    font-family: 'Special Elite', cursive;
    letter-spacing: 2px;
}

.nombreAvion:hover {
    text-decoration: underline;
}

.descripcionAvion {
    font-size: 1.8em;
    font-family: 'Oswald', sans-serif;
    text-align: justify;
}

@media (max-width: 600px) {
    .nombreAvion {
        font-size: 2.4rem;
        letter-spacing: normal;
        padding: 5%; 
    }
    .descripcionAvion {
        font-size: 2rem;
        padding: 10%; 
    }
}

.avionImagen {
    width: 70%; 
}

.avion1 {
    transition: all 2s;
}

.avion1:hover {
    transform: scale(1.5) rotateZ(10deg);
}

.avion2 {
    transition: all 2s;
}

.avion2:hover {
    transform: scale(1.5) rotateZ(-10deg);
}

.avion3 {
    transition: all 2s;
}

.avion3:hover {
    transform: scale(1.5) rotateZ(-20deg);
}

.avion4 {
    transition: all 2s;
}

.avion4:hover {
    transform: scale(1.5) rotateZ(20deg);
}

.avion5 {
    transition: all 2s;
}

.avion5:hover {
    transform: scale(1.5) rotateZ(20deg);
}

.avion6 {
    transition: all 2s; 
}

.avion6:hover {
    transform: scale(1.5) rotateZ(20deg);
}

.avion7 {
    transition: all 2s; 
}

.avion7:hover {
    transform: scale(1.5) rotateZ(15deg);
}

.avion8 {
    transition: all 2s; 
}

.avion8:hover {
    transform: scale(1.5) rotateZ(20deg);
}

@media (max-width: 600px) {
    .avion1:hover {
        transform: scale(1.2) rotateZ(10deg);
    }
    .avion2:hover {
        transform: scale(1.2) rotateZ(-10deg);
    }
    .avion3:hover {
        transform: scale(1.2) rotateZ(-20deg);
    }
    .avion4:hover {
        transform: scale(1.2) rotateZ(20deg);
    }
    .avion5:hover {
        transform: scale(1.2) rotateZ(20deg);
    }
    .avion6:hover {
        transform: scale(1.2) rotateZ(20deg);
    }
    .avion7:hover {
        transform: scale(1.2) rotateZ(15deg);
    }
    .avion8:hover {
        transform: scale(1.2) rotateZ(20deg);
    }
}

.iframeContainer {
    position: relative;
    margin: auto;
    width: 70%;
    padding-top: 35%; }

.iframeContainer iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%; }

.bodyActores {
    background-image: url("../assets/personalidadesSGM.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

.rooseveltBackground {
    background-image: url("../assets/rooseveltBack.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    padding-right: 0px !important; 
    padding-left: 0px !important;
}

.nombreActor {
    font-size: 4em;
    font-family: 'Special Elite', cursive;
    letter-spacing: 3px;
}

.tituloActor {
    text-transform: uppercase;
    font-size: 3em;
    font-family: 'Oswald', sans-serif;
}

.imagenActor {
    width: 50%; 
}

.bioActor {
    font-size: 2em;
    font-family: 'Oswald', sans-serif;
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px; 
    border-radius: 10px;
}

@media (max-width: 600px) {
    .nombreActor {
        font-size: 3rem;
        letter-spacing: 1.5px;
    }
    .tituloActor {
        font-size: 2rem;
    }
    .imagenActor {
        width: 80%; 
    }
    .bioActor {
        font-size: 2rem;
        padding: 10%; 
        line-height: 1.8;
    }
}

.churchillBackground {
    background-image: url("../assets/churchillBack.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    padding-right: 0px !important; 
    padding-left: 0px !important;
}

.hitlerBackground {
    background-image: url("../assets/hitlerBack.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    padding-right: 0px !important; 
    padding-left: 0px !important;
}

.stalinBackground {
    background-image: url("../assets/stalinBack.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    padding-right: 0px !important; 
    padding-left: 0px !important;
}

.mussoliniBackground {
    background-image: url("../assets/mussoBack.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    padding-right: 0px !important; 
    padding-left: 0px !important;
}

.audios {
    margin-bottom: 20px;
    width: 40%; 
}

.bodyJuegos {
    background-image: url("../assets/juegosBack.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

.contenedorJuego {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px; 
    border-radius: 10%;
}

.portadaJuego {
    width: 90%; 
    border-radius: 10%;
}

.tituloJuego {
    font-size: 3em;
    font-family: 'Special Elite', curisve;
    letter-spacing: 4px;
}

.descripcionJuego {
    font-size: 2em;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    margin: auto; 
}

@media (max-width: 600px) {
    .descripcionJuego {
        font-size: 2rem;
        padding: 10%; 
    }
}

.botonCompraJuego {
    font-size: large;
}

.bodyLibros {
    background-image: url("../assets/librosBack.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

.tarjetaLibro {
    background-color: white;
    border-radius: 10%;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.6);
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between; 
}

.tarjetaLibro a {
    font-size: large;
    width: 50%; 
    border-radius: 10%;;
}

.tarjetaLibro img {
    border-radius: 10%;
    margin: auto; 
}

.formulario {
    margin-top: 100px !important;
    margin-bottom: 100px !important;
    max-width: 800px;
    padding-top: 50px;
    margin: auto;
    position: relative;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 10%;
    padding: 30px; }
    .bodyForm .formulario .tituloFormulario {
      text-transform: uppercase;
      font-family: 'Special Elite', cursive;
      text-align: center;
      letter-spacing: 3px;
      font-size: 4rem;
      line-height: 48px;
      padding-bottom: 20px;
      color: #F0B45B;
      background: linear-gradient(to right, #A94025, #F0B45B 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
    .bodyForm .formulario .parrafoFormulario {
      text-transform: uppercase;
      font-family: 'Oswald', sans-serif;
      text-align: center;
      letter-spacing: 2px;
      font-size: 3rem;
      line-height: 30px;
      padding-bottom: 10px;
      color: #F0B45B;
      background: linear-gradient(to right, #A94025, #F0B45B 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
    .bodyForm .formulario .contactoForm .campoFormulario {
      position: relative;
      margin: 32px 0; }
    .bodyForm .formulario .contactoForm .input-text {
      display: block;
      font-family: 'Oswald', sans-serif;
      width: 100%;
      height: 36px;
      border-width: 0 0 2px 0;
      border-color: #A94025;
      font-size: 18px;
      line-height: 26px;
      font-weight: 400; }
    .bodyForm .formulario .contactoForm .input-text:focus + .label,
    .bodyForm .formulario .contactoForm .input-text.not.empty + .label {
      transform: translateY(-24px); }
    .bodyForm .formulario .contactoForm .input-text:focus {
      outline: none; }
    .bodyForm .formulario .contactoForm .label {
      position: absolute;
      font-family: 'Special Elite', cursive;
      left: 20px;
      bottom: 11px;
      font-size: 18px;
      line-height: 26px;
      font-weight: 400;
      color: #A94025;
      cursor: text;
      text-transform: capitalize;
      transition: transform 0.2s ease-in-out; }
    .bodyForm .formulario .contactoForm .submit-btn {
      display: inline-block;
      background-image: linear-gradient(125deg, #A94025, #F0B45B);
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 16px;
      padding: 8px 16px;
      border: none;
      width: 200px;
      cursor: pointer; }

.bodyForm {
    background-image: url("../assets/contactoBack.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

