* {
    margin: 0; 
    padding: 0;
}

html {
    font-size: 62.5%; 
}

.logoPrincipal {
    height: 10vh;
    margin-left: 50px; }
  
  .navbar {
    background-color: rgba(248, 244, 232, 0.9); }
    .navbar ul {
      width: 100%;
      justify-content: space-around; }
      .navbar ul li a {
        font-family: 'Oswald', sans-serif;
        font-size: 2rem;
        font-weight: 600; }
  
  footer {
    background-color: rgba(248, 244, 232, 0.9);
    margin-top: 20px; }
    footer .logoImage {
      height: 10vh; }
    footer .redesContacto ul {
      list-style: none;
      justify-content: space-around; }
      footer .redesContacto ul li a {
        font-size: 3em;
        text-decoration: none;
        color: black;
        margin: 0 20px 0 20px; }
    footer .copyright {
      font-size: 2em;
      color: black; }

.bodyIndexPage {
    background-image: url("../assets/ww2avionesportada.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

.imagenPantallaClara {
    /*height: 100vh;*/ 
    background-color: rgba(255, 255, 255, 0.7);
    /*position: fixed;*/ 
    width: 100vw; 
}

.welcome {
    margin-top: 20px;
    padding: 20px 0 20px 0; 
}

.welcome h1, p {
    text-align: center;
    letter-spacing: 3px;
    line-height: 2;
}

.welcome h1 {
    font-family: 'Special Elite', cursive;
    font-size: 5em;
}

.welcome>p {
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
}

.welcome .introTexto {
    font-family: 'Oswald', cursive;
    font-size: 2em;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    font-weight: 500;
    padding: 20px 20px; 
}

.welcome .introTexto p {
    text-align: justify;
}

.welcome .introTexto ul {
    text-align: justify;
    letter-spacing: 2px;
    line-height: 2;
    list-style: none;
}

.tituloSeccion {
    font-family: 'Special Elite', cursive;
    font-size: 4em;
    letter-spacing: 3px;
    font-weight: bold;
    text-align: center;
    line-height: 2;
    background: linear-gradient(to right, darkgray, black 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.avionesTanques .textoAyT {
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    text-align: center;
}

.actorCardIndexImpar {
    background-image: linear-gradient(45deg, white, gray);
    border-radius: 30px;
}

.actorCardIndexPar {
    background-image: linear-gradient(45deg, gray, white);
    border-radius: 30px;
}

.actorCardIndex img {
    border-radius: 20%;
}

.actorNombre {
    font-size: 3em;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 4px;
    font-weight: bold;
}

.actorDescripcion {
    font-size: 2em;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
}

.bodyAviones {
    background-image: url("../assets/backgroundAyT.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

.nombreAvion {
    font-size: 3em;
    font-family: 'Special Elite', cursive;
    letter-spacing: 2px;
}

.nombreAvion:hover {
    text-decoration: underline;
}

.descripcionAvion {
    font-size: 1.8em;
    font-family: 'Oswald', sans-serif;
    text-align: justify;
}

.avionImagen {
    width: 70%; 
}

.avion1 {
    transition: all 2s;
}

.avion1:hover {
    transform: scale(1.5) rotateZ(10deg);
}

.avion2 {
    transition: all 2s;
}

.avion2:hover {
    transform: scale(1.5) rotateZ(-10deg);
}

.avion3 {
    transition: all 2s;
}

.avion3:hover {
    transform: scale(1.5) rotateZ(-20deg);
}

.avion4 {
    transition: all 2s;
}

.avion4:hover {
    transform: scale(1.5) rotateZ(20deg);
}

.avion5 {
    transition: all 2s;
}

.avion5:hover {
    transform: scale(1.5) rotateZ(20deg);
}

.avion6 {
    transition: all 2s; 
}

.avion6:hover {
    transform: scale(1.5) rotateZ(20deg);
}

.avion7 {
    transition: all 2s; 
}

.avion7:hover {
    transform: scale(1.5) rotateZ(15deg);
}

.avion8 {
    transition: all 2s; 
}

.avion8:hover {
    transform: scale(1.5) rotateZ(20deg);
}

.iframeContainer {
    position: relative;
    margin: auto;
    width: 70%;
    padding-top: 35%; }

.iframeContainer iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%; }

.bodyActores {
    background-image: url("../assets/personalidadesSGM.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

.rooseveltBackground {
    background-image: url("../assets/rooseveltBack.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

.nombreActor {
    font-size: 4em;
    font-family: 'Special Elite', cursive;
    letter-spacing: 3px;
}

.tituloActor {
    text-transform: uppercase;
    font-size: 3em;
    font-family: 'Oswald', sans-serif;
}

.imagenActor {
    width: 50%; 
}

.bioActor {
    font-size: 2em;
    font-family: 'Oswald', sans-serif;
    text-align: justify;
}

.churchillBackground {
    background-image: url("../assets/churchillBack.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

.hitlerBackground {
    background-image: url("../assets/hitlerBack.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

.stalinBackground {
    background-image: url("../assets/stalinBack.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

.mussoliniBackground {
    background-image: url("../assets/mussoBack.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

.audios {
    margin-bottom: 20px;
    width: 40%; 
}

