* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

.logoPrincipal {
  height: 10vh;
  margin-left: 50px; }

.img-grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  /* Firefox 3.5+ */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+ & Safari 6+ */ }

.img-grayscale:hover {
  filter: none;
  -webkit-filter: grayscale(0%); }

.navbar {
  background-color: rgba(248, 244, 232, 0.9); }
  .navbar ul {
    width: 100%;
    justify-content: space-around; }
    .navbar ul li a {
      font-family: 'Oswald', sans-serif;
      font-size: 2rem;
      font-weight: 600; }

footer {
  background-color: rgba(248, 244, 232, 0.9);
  margin-top: 20px; }
  footer .logoImage {
    height: 10vh; }
  footer .redesContacto ul {
    list-style: none;
    justify-content: space-around; }
    footer .redesContacto ul li a {
      font-size: 3em;
      text-decoration: none;
      color: black;
      margin: 0 20px 0 20px; }
  footer .copyright {
    font-size: 1.5em;
    color: black; }

#btn-twitter {
  color: #41b7d8; }

#btn-facebook {
  color: #3b5997; }

#btn-instagram {
  color: #2A5B83; }

@media (max-width: 600px) {
  .logoPrincipal {
    margin-left: 0px; }
  .navbar ul li a {
    font-size: 1.5rem; }
  footer .redesContacto ul li a {
    font-size: 2rem; }
  footer .copyright {
    font-size: 1rem; }
  .desktop {
    display: none; } }

@media (min-width: 601px) {
  .mobile {
    display: none; } }

.expansorTexto {
  margin: auto;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  color: gray; }

.bodyIndexPage {
  background-image: url("../assets/ww2avionesportada.jpg");
  -webkit-background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-attachment: fixed; }

.imagenPantallaClara {
  background-color: rgba(255, 255, 255, 0.7); }

.welcome {
  margin-top: 20px;
  padding: 20px 0 20px 0; }
  .welcome h1, .welcome p {
    text-align: center;
    letter-spacing: 3px;
    line-height: 2; }
  .welcome h1 {
    font-family: 'Special Elite', cursive;
    font-size: 5em; }
  .welcome > p {
    font-size: 3em;
    font-family: 'Oswald', sans-serif; }
  .welcome .introTexto {
    font-family: 'Oswald', cursive;
    font-size: 2em;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    font-weight: 500;
    padding: 20px 20px; }
    .welcome .introTexto p {
      text-align: justify; }
    .welcome .introTexto ul {
      text-align: justify;
      letter-spacing: 2px;
      line-height: 2;
      list-style: none; }
  .welcome .introTextoClaro {
    font-family: 'Oswald', cursive;
    font-size: 2em;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    font-weight: 500;
    padding: 20px 20px; }
    .welcome .introTextoClaro p {
      text-align: justify; }

.tituloSeccion {
  font-family: 'Special Elite', cursive;
  font-size: 4em;
  letter-spacing: 3px;
  font-weight: bold;
  text-align: center;
  line-height: 2;
  background: linear-gradient(to right, darkgray, black 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.avionesTanques .textoAyT {
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10%;
  line-height: 2;
  letter-spacing: 2px;
  padding: 5%; }

.personalidades .actorCardIndex img {
  border-radius: 20%; }

.personalidades .actorCardIndex .actorNombre {
  font-size: 3em;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 4px;
  font-weight: bold; }

.personalidades .actorCardIndex .actorDescripcion {
  font-size: 2em;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 3px; }

.personalidades .actorCardIndexImpar, .personalidades .actorCardIndexPar {
  border-radius: 30px; }

.personalidades .actorCardIndexImpar {
  background-image: linear-gradient(45deg, white, gray); }

.personalidades .actorCardIndexPar {
  background-image: linear-gradient(45deg, gray, white); }

@media (max-width: 600px) {
  .welcome h1 {
    letter-spacing: normal;
    font-size: 3rem;
    line-height: 1.5;
    padding: 5%; }
  .welcome > p {
    letter-spacing: normal;
    font-size: 2rem;
    line-height: 1.5;
    padding: 10%; }
  .welcome .introTexto {
    padding: 10%;
    font-size: 1.5rem; }
  .welcome .introTextoClaro {
    padding: 10%;
    font-size: 1.5rem; }
  .tituloSeccion {
    font-size: 3rem;
    padding: 5%; }
  .avionesTanques .textoAyT {
    font-size: 1.5rem;
    text-align: justify;
    padding: 10%; }
  .avionesTanques img {
    width: 80%; }
  .personalidades .actorCardIndex .actorNombre {
    font-size: 2.5rem;
    margin-top: 10px;
    letter-spacing: 2px; }
  .personalidades .actorCardIndex .actorDescripcion {
    font-size: 1.5rem;
    text-align: justify;
    padding: 10%; } }

.bodyActores {
  background-image: url("../assets/personalidadesSGM.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.principalPresidentes .rooseveltBackground {
  background-image: url("../assets/rooseveltBack.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-right: 0px !important;
  padding-left: 0px !important; }

.principalPresidentes .nombreActor {
  font-size: 4em;
  font-family: 'Special Elite', cursive;
  letter-spacing: 3px; }

.principalPresidentes .tituloActor {
  text-transform: uppercase;
  font-size: 3em;
  font-family: 'Oswald', sans-serif; }

.principalPresidentes .imagenActor {
  width: 50%; }

.principalPresidentes .bioActor {
  font-size: 2em;
  font-family: 'Oswald', sans-serif;
  text-align: justify;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 10px;
  border-radius: 10px;
  line-height: 2;
  letter-spacing: 3px;
  padding: 2%; }

.principalPresidentes .churchillBackground {
  background-image: url("../assets/churchillBack.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-right: 0px !important;
  padding-left: 0px !important; }

.principalPresidentes .hitlerBackground {
  background-image: url("../assets/hitlerBack.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-right: 0px !important;
  padding-left: 0px !important; }

.principalPresidentes .stalinBackground {
  background-image: url("../assets/stalinBack.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-right: 0px !important;
  padding-left: 0px !important; }

.principalPresidentes .mussoliniBackground {
  background-image: url("../assets/mussoBack.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-right: 0px !important;
  padding-left: 0px !important; }

.principalPresidentes .audios {
  margin-bottom: 20px;
  width: 40%; }

@media (max-width: 600px) {
  .principalPresidentes .nombreActor {
    font-size: 3rem;
    letter-spacing: 1.5px;
    text-align: center; }
  .principalPresidentes .tituloActor {
    font-size: 2rem; }
  .principalPresidentes .imagenActor {
    width: 80%; }
  .principalPresidentes .bioActor {
    font-size: 1.5rem;
    padding: 10%;
    line-height: 1.8; } }

.bodyAviones {
  background-image: url("../assets/backgroundAyT.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.contenedorAvion {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 20px; }
  .contenedorAvion .nombreAvion {
    font-size: 3em;
    font-family: 'Special Elite', cursive;
    letter-spacing: 2px; }
  .contenedorAvion .nombreAvion:hover {
    text-decoration: underline; }
  .contenedorAvion .descripcionAvion {
    font-size: 1.8em;
    font-family: 'Oswald', sans-serif;
    text-align: justify;
    letter-spacing: 3px;
    line-height: 1.8;
    padding: 2%; }
  .contenedorAvion .avionImagen {
    width: 70%; }
  .contenedorAvion .avion1 {
    transition: all 2s; }
  .contenedorAvion .avion1:hover {
    transform: scale(1.5) rotateZ(10deg); }
  .contenedorAvion .avion2 {
    transition: all 2s; }
  .contenedorAvion .avion2:hover {
    transform: scale(1.5) rotateZ(-10deg); }
  .contenedorAvion .avion3 {
    transition: all 2s; }
  .contenedorAvion .avion3:hover {
    transform: scale(1.5) rotateZ(-20deg); }
  .contenedorAvion .avion4 {
    transition: all 2s; }
  .contenedorAvion .avion4:hover {
    transform: scale(1.5) rotateZ(20deg); }
  .contenedorAvion .avion5 {
    transition: all 2s; }
  .contenedorAvion .avion5:hover {
    transform: scale(1.5) rotateZ(20deg); }
  .contenedorAvion .avion6 {
    transition: all 2s; }
  .contenedorAvion .avion6:hover {
    transform: scale(1.5) rotateZ(20deg); }
  .contenedorAvion .avion7 {
    transition: all 2s; }
  .contenedorAvion .avion7:hover {
    transform: scale(1.5) rotateZ(15deg); }
  .contenedorAvion .avion8 {
    transition: all 2s; }
  .contenedorAvion .avion8:hover {
    transform: scale(1.5) rotateZ(20deg); }

@media (max-width: 600px) {
  .contenedorAvion .avion1:hover {
    transform: scale(1.15) rotateZ(10deg); }
  .contenedorAvion .avion2:hover {
    transform: scale(1.15) rotateZ(-10deg); }
  .contenedorAvion .avion3:hover {
    transform: scale(1.15) rotateZ(-20deg); }
  .contenedorAvion .avion4:hover {
    transform: scale(1.15) rotateZ(20deg); }
  .contenedorAvion .avion5:hover {
    transform: scale(1.15) rotateZ(20deg); }
  .contenedorAvion .avion6:hover {
    transform: scale(1.15) rotateZ(20deg); }
  .contenedorAvion .avion7:hover {
    transform: scale(1.15) rotateZ(15deg); }
  .contenedorAvion .avion8:hover {
    transform: scale(1.15) rotateZ(20deg); }
  .contenedorAvion .nombreAvion {
    font-size: 2.4rem;
    letter-spacing: normal;
    padding: 5%;
    text-align: center; }
  .contenedorAvion .descripcionAvion {
    font-size: 1.5rem;
    padding: 10%; } }

.iframeContainer {
  position: relative;
  margin: auto;
  width: 70%;
  padding-top: 35%; }

.iframeContainer iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%; }

.bodyForm {
  background-image: url("../assets/contactoBack.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.formulario {
  margin-top: 100px !important;
  margin-bottom: 100px !important;
  max-width: 800px;
  padding-top: 50px;
  margin: auto;
  position: relative;
  background-color: white;
  border-radius: 10%;
  padding: 30px; }
  .formulario .tituloFormulario {
    text-transform: uppercase;
    font-family: 'Special Elite', cursive;
    text-align: center;
    letter-spacing: 3px;
    font-size: 4rem;
    line-height: 48px;
    padding-bottom: 20px;
    color: #F0B45B;
    background: linear-gradient(to right, black, lightgray 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .formulario .parrafoFormulario {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    letter-spacing: 2px;
    font-size: 3rem;
    line-height: 30px;
    padding-bottom: 10px;
    color: #F0B45B;
    background: linear-gradient(to right, black, lightgray 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .formulario .contactoForm .campoFormulario {
    position: relative;
    margin: 32px 0; }
  .formulario .contactoForm .input-text {
    display: block;
    font-family: 'Oswald', sans-serif;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: black;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400; }
  .formulario .contactoForm .input-text:focus + .label,
  .formulario .contactoForm .input-text.not.empty + .label {
    transform: translateY(-24px); }
  .formulario .contactoForm .input-text:focus {
    outline: none; }
  .formulario .contactoForm .label {
    position: absolute;
    font-family: 'Special Elite', cursive;
    left: 20px;
    bottom: 11px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: gray;
    cursor: text;
    text-transform: capitalize;
    transition: transform 0.2s ease-in-out; }
  .formulario .contactoForm .submit-btn {
    display: inline-block;
    background-image: linear-gradient(125deg, black, lightgray);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    width: 200px;
    cursor: pointer; }
  .formulario .contactoForm .submit-btn:hover {
    background-image: linear-gradient(125deg, lightgray, black); }

.bodyJuegos {
  background-image: url("../assets/juegosBack.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.contenedorJuego {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 10%; }
  .contenedorJuego .portadaJuego {
    width: 90%;
    border-radius: 10%; }
  .contenedorJuego .tituloJuego {
    font-size: 3em;
    font-family: 'Special Elite', curisve;
    letter-spacing: 4px; }
  .contenedorJuego .descripcionJuego {
    font-size: 2em;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    margin: auto;
    line-height: 2;
    text-align: center; }
  .contenedorJuego .botonCompraJuego {
    font-size: large; }

@media (max-width: 600px) {
  .contenedorJuego .descripcionJuego {
    font-size: 1.5rem;
    padding: 10%; }
  .contenedorJuego .tituloJuego {
    margin-top: 10px;
    text-align: center;
    padding: 5%; } }

.bodyLibros {
  background-image: url("../assets/librosBack.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.tarjetaLibro {
  background-color: white;
  border-radius: 10%;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between; }
  .tarjetaLibro a {
    font-size: large;
    width: 50%;
    border-radius: 10%; }
  .tarjetaLibro img {
    border-radius: 10%;
    margin: auto; }

.btn-compra {
  background-color: rgba(159, 161, 159, 0.6);
  font-family: 'Oswald', sans-serif;
  letter-spacing: 3px; }

.btn-compra:hover {
  background-color: rgba(159, 161, 159, 0.8); }
